<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<header th:fragment="header">
    <a href="" id="href"><h1>CodeFellows</h1></a>
    <nav>
        <ul>
            <a href=""><li>Home</li></a>
            <a href=""><li>Profile</li></a>
            <a href=""><li>About Us</li></a>
        </ul>
    </nav>
    <div>
    </div>
</header>
</body>
</html>