<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<fieldset>
  <form action="perform_login" method="POST" id="form-container">
    <div class="row">
      <div class="col">
        <input type="text" name="username" class="form-control" placeholder="Username">
      </div>
      <div class="col">
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <div>
      <button type="submit">Log In</button>
    </div>
  </form>
</fieldset>
</body>
</html>